<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

  <div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-12">
         <h1>Weather dashboard will go here  </h1>
        </div>
    </div>
  </div>


  <div class="container">
  <div class="row">
      <div class="col-xs-4 col-md-12">

        <h2>For ranges</h2>
        <% @conditions.days_in_high_temperature_chunks.keys.each_with_index do |range,index|%>
            <h4>Range</h4>
            <p><%=range.pop%> </p>
            <h5>Average</h5> <p><%=@conditions.temp_calcs.values[index]%></p>
            <h5>Max</h5> <p><%=@conditions.max_temperature_f_per_temp.values[index]%></p>
            <h5>Min</h5> <p><%=@conditions.min_temperature_f_per_temp.values[index]%></p>

        <%end%>
      </div>
  </div>
</div>







  </body>
</html>
