<h1>Make a new condition</h1>
<form action="/conditions/new" method="post">
  <p>Enter a new condition</p>

  <label for="max_temperature_f" >Max Temp</label>
  <input type='text' name='condition[max_temperature_f]' placeholder="max temp" required/><br/>

  <label for="min_temperature_f">Min Temp</label>
  <input type='text' name='condition[min_temperature_f]' placeholder="Min temp" required/><br/>

  <label for="mean_temperature_f">Mean Temp</label>
  <input type='text' name='condition[mean_temperature_f]' placeholder="Mean Temp" required/><br/>

  <label for="mean_humidity"> Mean Humidity</label>
  <input type='text' name='condition[mean_humidity]' placeholder="Enter mean humidity" required/><br/>

  <label for="mean_visibility_miles"> Mean Visibility</label>
  <input type='text' name='condition[mean_visibility_miles]' placeholder="Enter mean visibility" required/><br/>

  <label for="mean_wind_speed_mph"> Max Wind speed</label>
  <input type='text' name='condition[mean_wind_speed_mph]' placeholder="Enter max wind speed" required/><br/>

  <input type='submit'/>
</form>
