<head>
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-12">
        <h1>Welcome to our app</h1>
          <p>Please insert payment information below...</p>
        <h4><a href="/trips">Trips Index</a></h4>
        <h4><a href="/stations">Stations Index</a></h4>

    </div>
  </div>
</div>
